<!DOCTYPE html>
<html>

  <head>

    {% load staticfiles %}
    <meta charset="utf-8">

    <title>Cecil Balmond - Crossover</title>

     <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'crossover/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'crossover/style.css' %}" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="{% static 'crossover/raphael-min.js' %}"></script>
    <script src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
    <script src="http://canvg.googlecode.com/svn/trunk/StackBlur.js"></script>
    <script src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>
    <script src="{% static 'crossover/script.js' %}"></script>

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <header>

      <h1>
        CROSSOVER
      </h1>
      <h2>
        Cecil Balmond
      </h2>

    </header>

    <div id="content">

      <!--Graphics-->
      <div id="graphics">
      </div>

      <!--Text-->
      <div id="text">
        {% if tweets %}
        <ul>
          {% for tweet in tweets %}
            <li>
              <h3>{{ tweet.term }}</h3>
              <p>{{ tweet.text }}</p>
              </br>
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <p>No Tweets are available.</p>
        {% endif %}

        <!--Tweet-->
        <a id="tweet_button" href="https://twitter.com/share?url=http%3A%2F%2Fcrossover.balmondstudio.com&text=...%0A%23crossoverbook%0A%40balmondstudio%0A" target="_blank" text="Manos Matsis">Tweet</a>

        <!--About-->
        <a href="#" id="about_button">About</button>
      </div>

    </div>

    <footer>

      <div>&#169; 2013 <a href="http://www.balmondstudio.com">Balmond Studio</a></div>

    </footer>

    <!--Registration-->
    <div id='form' class='dialog'>
      <form>
        <h1>
          Welcome to
          <br>
          Crossover - Balmond Studio
        </h1>
        <p>Please enter your Twitter username to proceed.</p>
        <input type="text" name="username" placeholder="@username">
        <br>
        <button type="button">Enter</button>
      </form>
    </div>

    <!--About-->
    <div id='about' class='dialog'>
      <div>

        <h1>ABOUT</h1>

        <h2>Website</h2>
        <p>
          Pattern, Connection, Material, Limits, Nature and Element. These are just a few of the key themes explored by designer Cecil Balmond in his new book Crossover. But what do these words mean to you?
           <br>
           Tapping into the Twittersphere, crossover.balmondstudio.com is an interactive social experiment that collects live tweets from around the world highlighting the never-ending interpretation of these six words in a global context. The constant and universal occurrence of these concepts rhythmically activates the algorithmic pattern. The pattern that also appears on the cover of Crossover, described by Cecil as &ldquo;an unknown zone&rdquo;.
           <br>
            By tweeting your own personal definition of one of the words, your live information is &lsquo;captured&rsquo; and represented by a still graphic that will be entered into a database. Combining all the graphics produced, the database will then build in size and density and the patterns will be seen in totality.
        </p>

        <h2>Competition</h2>
        <p>
          All tweets composed from this website that include one of the following: &lsquo;Pattern&rsquo; or &lsquo;Connection&rsquo; or &lsquo;Material&rsquo; or &lsquo;Limits&rsquo; or &lsquo;Nature&rsquo; or &lsquo;Element&rsquo; in addition to &lsquo;#crossoverbook&rsquo;, &lsquo;@balmondstudio&rsquo; and &lsquo;http://crossover.balmondstudio.com&rsquo; will automatically be entered into a draw to win one of five signed copies of Crossover. All four components must be contained within a single tweet to be eligible for the draw. The chosen word must be used in a sentence. One entry per username. Competition ends on 31st January 2014 at midnight GMT.
        </p>

        <h2>Crossover</h2>
        <p>
          In this long-awaited follow-up to the enormously popular informal, designer, writer, and engineer Cecil Balmond invites readers into his creative process as he documents his most innovative projects in art, architecture, and bridge design. 
          <br>
          &ldquo;The idea of Crossover is that it&rsquo;s not just one directional from here to there which is the literal meaning of the word crossover. For me it&rsquo;s a complete zone of interchange ... There&rsquo;s a whole negotiation about symmetry, material, pattern, connection &ndash; all these ideas. It&rsquo;s all in a big crossover zone so it&rsquo;s like a movement. From here to over here, from the virtual to the real, it&rsquo;s a whole serious of lines and that&rsquo;s why on the cover it&rsquo;s a multi zone of activity.&rdquo; &ndash; Cecil Balmond
        </p>

        <h2><a href="http://www.amazon.co.uk/Crossover-Cecil-Balmond/dp/3791345222" target="_blank">BUY</a></h2>

      </div>
    </div>

  </body>

</html>
