@font-face
{
  font-family: crossover_font;
  src: url('AkzidenzGrotesk-Cond.otf');
}

@font-face
{
  font-family: cecilbalmond_font;
  src: url('Berthold.ttf');
}

html
{
  position: relative;

  width: 100%;
  height: 100%;
  min-width: 640px;
}

body
{
  width: 100%;
  height: 100%;

  font-weight: normal;
  font-size: 10px;
  font-family: arial, helvetica, sans-serif;
  color: black;
}

header
{
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
}

header > h1
{
  margin: 0px 10px 10px 10px;

  font-family: crossover_font;
  text-shadow: 0px 1px 1px white;
  text-align: center;
  font-weight: normal;
  font-size: 70px;
  color: black;
}

header > h2
{
  margin: 10px 10px 10px 10px;

  font-family: cecilbalmond_font;
  text-shadow: 0px 1px 1px white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: black;
  letter-spacing: 5px;
}

div#content
{
  position: absolute;
  top: 170px;
  right: 0;
  bottom: 40px;
  left: 0;
}

div#content > div#graphics
{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

div#content > div#text
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 40%;
  height: 75%;

  margin:auto;

  font-family: courier, monospace;
  font-weight: normal;
  font-size: 15px;
  color: black;

  overflow: hidden;
}

div#content > div#text > ul > li > h3
{
  font-weight: bold;
}

div#content > div#text > a#tweet_button
{
  position: absolute;
  right: 51%;
  bottom: 0;
  left: 0;

  padding: 5px 0px 5px 0px;
}

div#content > div#text > a#about_button
{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 51%;

  padding: 5px 0px 5px 0px;
}

div#content > div#text > a
{
  -webkit-transition: background-color 350ms ease;
  -moz-transition: background-color 350ms ease;
  -o-transition: background-color 350ms ease;
  transition: background-color 350ms ease;

  font-family: courier, monospace;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  text-align: center;

  background-color: #000;
}

div#content > div#text > a:hover
{
  color: #000;
  background-color: #fff;
}

footer
{
  position: absolute;
  bottom: 0px;

  width: 100%;
}

footer > div
{
  float: right;
  margin: 15px 20px;

  font-weight: bold;
  font-size: 10px;
  color: #c0c0c0;
  color: black;
}

footer > div > a
{
  text-decoration: none;
  font-weight: normal;
  font-size: 10px;
  color: #c0c0c0;
  color: black;
}

div.dialog
{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  opacity: 0.95;

  background: #c18384;

  background: -moz-linear-gradient(top,  #c18384 0%, #a0a6c8 20%, #91b593 40%, #e2d7a8 60%, #aa99c3 80%, #f2dce7 100%);

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c18384), color-stop(20%,#a0a6c8), color-stop(40%,#91b593), color-stop(60%,#e2d7a8), color-stop(80%,#aa99c3), color-stop(100%,#f2dce7));

  background: -webkit-linear-gradient(top,  #c18384 0%,#a0a6c8 20%,#91b593 40%,#e2d7a8 60%,#aa99c3 80%,#f2dce7 100%);

  background: -o-linear-gradient(top,  #c18384 0%,#a0a6c8 20%,#91b593 40%,#e2d7a8 60%,#aa99c3 80%,#f2dce7 100%);

  background: -ms-linear-gradient(top,  #c18384 0%,#a0a6c8 20%,#91b593 40%,#e2d7a8 60%,#aa99c3 80%,#f2dce7 100%);

  background: linear-gradient(to bottom,  #c18384 0%,#a0a6c8 20%,#91b593 40%,#e2d7a8 60%,#aa99c3 80%,#f2dce7 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c18384', endColorstr='#f2dce7',GradientType=0 );
}

div#form > form
{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  width: 300px;
  height: 220px;

  margin: auto;

  overflow: hidden;
}

div#form > form > h1
{
  margin: 0px 0px 40px 0px;

  font-family: courier, monospace;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  text-align: center;
}

div#form > form > p
{
  margin: 0px 0px 10px 0px;

  font-family: courier, monospace;
  font-weight: normal;
  font-size: 14px;
  color: #000;
  text-align: center;
}

div#form > form > input
{
  width: inherit;

  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 2px;
}

div#form > form > button
{
  width: 100%;
  height: 25px;

  display: block;
  background-color: #000;
  border: 0 none;
  cursor: pointer;
}

div#about
{
  display: none;
}

div#about > div
{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  width: 75%;
  height: 75%;

  margin: auto;

  overflow: auto;
}

div#about > div > h1
{
  margin: 0px 0px 40px 0px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

div#about > div > h2
{
  margin: 20px 0px 10px 0px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

div#about > div > p
{
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
